.splash {
    /* absolute center .splash */
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0px; left: 0; bottom: 0; right: 0;
    text-align: center;
}

.splash-head {
    padding: 1em 1.6em;
}

.fa-bitcoin {
    font-size: 4.25em;
    color: dodgerblue;
}

.splash-subhead {
    padding: .75em 1em;
    font-size: 3em;
}

#answer {
    text-transform: uppercase;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 95%;
    height: 1em;            /* Footer height */
    margin: 1em 0em;
    font-size: .75em;
    text-align: right;
}